<template>
  <h1> {{ category.name }} </h1>
  <forum-list :title="category.name" :forums="getForumsForCategory(category)" />
</template>

<script>
import ForumList from '@/components/ForumList'

export default {
  name: 'CategoriesPage',
  components: {
    ForumList
  },
  props: {
    id: {
      type: String,
      required: true
    }
  },
  methods: {
    getForumsForCategory (category) {
      return this.$store.state.forums.filter(forum => forum.categoryId === category.id)
    }
  },
  computed: {
    category () {
      return this.$store.state.categories.find(category => category.id === this.id)
    }
  }
}
</script>

<style scoped>

</style>
