<template>
  <forum-list
    v-for="category in categories" :key="category.id"
    :forums="getForumsForCategory(category)" :title="category.name"
    :category-id="category.id"
  />
</template>

<script>
import ForumList from '@/components/ForumList'

export default {
  name: 'CategoryList',
  components: {
    ForumList
  },
  props: {
    categories: {
      type: Array,
      required: true
    }
  },
  methods: {
    getForumsForCategory (category) {
      return this.$store.state.forums.filter(forum => forum.categoryId === category.id)
    }
  }
}
</script>

<style scoped>

</style>
