<template>
  <div class="col-full">
    <div class="forum-list">
      <h2 class="list-title">
        <router-link v-if="categoryId" :to="{name: 'Category', params: { id: categoryId } }"> {{ title }} </router-link>
        <span v-else> {{ title }} </span>
      </h2>
      <div class="forum-listing" v-for="forum in forums" :key="forum.id">
        <div class="forum-details">
          <router-link :to="{name: 'Forum', params: {id: forum.id}}" class="text-xlarge">
            {{ forum.name }}
          </router-link>
          <p> {{ forum.description }} </p>
        </div>
        <div class="threads-count">
          <p>
            <span class="count"> {{ forum.threads?.length || '0' }} </span>
            {{ forum.threads?.length === 1 ? 'thread' : 'threads' }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'ForumList',
  props: {
    forums: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      default: 'Forums'
    },
    categoryId: {
      type: String,
      required: false
    }
  }

}
</script>

<style scoped>

</style>
