<template>
  <div class="col-full">
    <form @submit.prevent="save">
      <div class="form-group">
        <textarea v-model="newPostText" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="form-actions">
        <button class="btn-blue">Submit post</button>
      </div>
    </form>
  </div>
</template>

<script>

export default {
  name: 'PostEditor',
  data () {
    return {
      newPostText: ''
    }
  },
  methods: {
    save () {
      const post = {
        text: this.newPostText
      }
      this.$emit('save', { post })
      this.newPostText = ''
    }
  },
  computed: {
    threads () {
      return this.$store.state.threads
    },
    posts () {
      return this.$store.state.posts
    },
    users () {
      return this.$store.state.users
    }
  }
}
</script>

<style>

</style>
