<template>
  <div v-for="post in posts" :key="post.id" class="post">
    <div class="user-info">
      <a href="#" class="user-name"> {{ usersById( post.userId ).name }} </a>
      <a href="#">
        <img :src="usersById( post.userId ).avatar" alt="" class="avatar-large">
      </a>
      <p class="desktop-only text-small">107 posts</p>
    </div>
    <div class="post-content">
      <div>
        <p> {{ post.text }} </p>
      </div>
    </div>
    <div class="post-date text-faded" >
      <app-date :timestamp="post.publishedAt" />
    </div>
  </div>
</template>

<script>

export default {
  name: 'PostList',
  props: {
    posts: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      users: this.$store.state.users
    }
  },
  methods: {
    usersById (userId) {
      return this.users.find(u => u.id === userId)
    }
  }
}
</script>

<style scoped>

</style>
