<template>
  <div class="profile-card">
    <form @submit.prevent="save">
      <p class="text-center">
        <img :src="user.avatar" :alt="`>${user.name} profile picture`" class="avatar-xlarge img-update">
      </p>
      <div class="form-group">
        <input v-model="activeUser.username" type="text" placeholder="Username" class="form-input text-lead text-bold">
      </div>
      <div class="form-group">
        <input v-model="activeUser.name" type="text" placeholder="Full Name" class="form-input text-lead">
      </div>
      <div class="form-group">
        <label for="user_bio">Bio</label>
        <textarea v-model="activeUser.bio" class="form-input" id="user_bio" placeholder="Write a few words about yourself." ></textarea>
      </div>
      <div class="stats">
        <span> {{user.postsCount}} Post(s) </span>
        <span> {{user.threadsCount}} Thread(s) </span>
      </div>
      <hr />
      <div class="form-group">
        <label class="form-label" for="user_website"> Website </label>
        <input v-model="activeUser.website" autocomplete="off" type="text" placeholder="Website" class="form-input" id="user_website" >
      </div>
      <div class="form-group">
        <label class="form-label" for="email"> Email </label>
        <input v-model="activeUser.email" autocomplete="off" type="text" placeholder="Email" class="form-input" id="user_website" >
      </div>
      <div class="form-group">
        <label class="form-label" for="user_location"> Location </label>
        <input v-model="activeUser.location" autocomplete="off" type="text" placeholder="Location" class="form-input" id="user_website" >
      </div>
      <div class="btn-group space-between">
        <button class="btn-ghost" @click="cancel" >Cancel</button>
        <button type="submit" class="btn-blue">Save</button>
      </div>
    </form>
  </div>
</template>

<script>
// import mapGetters from '@/store'

export default {
  name: 'UserProfileCardEditor',
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      activeUser: { ...this.user }
    }
  },
  methods: {
    save () {
      this.$store.dispatch('updateUser', { ...this.activeUser })
      this.$router.push({ name: 'Profile' })
    },
    cancel () {
      this.$router.push({ name: 'Profile' })
    }
  }
}
</script>

<style scoped>

</style>
