<template>
  <the-navbar/>
  <div class="container">
    <!-- <div class="row">
      <img alt="Vue logo" src="./assets/logo.png">
    </div> -->
    <router-view/>
  </div>
</template>

<script>
import TheNavbar from '@/components/TheNavbar'

export default {
  name: 'App',
  components: {
    TheNavbar
  }
}
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

@import "assets/css/styles.css";

</style>
